name: build

on:
  workflow_call:
    inputs:
      go_version:
        required: false
        type: string
      go-version:
        required: false
        type: string
        default: stable
      go-version-file:
        required: false
        type: string
      working-directory:
        required: false
        type: string
    secrets:
      gh_pat:
        required: false

jobs:
  # govulncheck:
  #   runs-on: ubuntu-latest
  #   env:
  #     GH_PAT: ${{ secrets.gh_pat }}
  #   steps:
  #     - uses: actions/checkout@v6
  #     - uses: actions/setup-go@v6
  #       with:
  #         go-version: stable
  #         cache: true
  #         check-latest: true
  #     - run: |
  #         git config --global url."https://${{ secrets.gh_pat }}@github.com/charmbracelet".insteadOf "https://github.com/charmbracelet"
  #         git config --global url."https://${{ secrets.gh_pat }}@github.com/charmcli".insteadOf "https://github.com/charmcli"
  #       if: env.GH_PAT != null
  #     - run: go install golang.org/x/vuln/cmd/govulncheck@master
  #     - run: go mod tidy
  #     - run: govulncheck ./...

  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    env:
      GO111MODULE: "on"
      GH_PAT: ${{ secrets.gh_pat }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - run: |
          git config --global url."https://${{ secrets.gh_pat }}@github.com/charmbracelet".insteadOf "https://github.com/charmbracelet"
          git config --global url."https://${{ secrets.gh_pat }}@github.com/charmcli".insteadOf "https://github.com/charmcli"
        if: env.GH_PAT != null
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ inputs.go_version || inputs.go-version }}
          go-version-file: ${{ inputs.go-version-file }}
          cache: true
      - name: Tidy Go modules
        run: go mod tidy
        working-directory: ${{ inputs.working-directory }}
      - name: Check for changes
        run: git diff --exit-code
        working-directory: ${{ inputs.working-directory }}
      - name: Build
        run: go build ./...
        working-directory: ${{ inputs.working-directory }}
      - name: Test
        run: go test ./...
        working-directory: ${{ inputs.working-directory }}

  dependabot:
    # needs: [build, govulncheck]
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request'}}
    steps:
      - id: metadata
        uses: dependabot/fetch-metadata@08eff52bf64351f401fb50d4972fa95b9f2c2d1b # v2.4.0
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - run: |
          gh pr review --approve "$PR_URL"
          gh pr merge --squash --auto "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
