name: goreleaser

on:
  workflow_call:
    inputs:
      go_version:
        required: false
        type: string
        default: stable
      upload_artifact:
        required: false
        type: boolean
        default: true
      lfs:
        required: false
        type: boolean
        default: false
        description: Whether to download Git-LFS files
      macos_sign_entitlements:
        required: false
        type: string
        description: Path to entitlements file
    secrets:
      docker_username:
        required: true
      docker_token:
        required: true
      gh_pat:
        required: true
      goreleaser_key:
        required: true
      aur_key:
        required: false
      fury_token:
        required: false
      nfpm_gpg_key:
        required: false
      nfpm_passphrase:
        required: false
      snapcraft_token:
        required: false
      twitter_consumer_key:
        required: false
      twitter_consumer_secret:
        required: false
      twitter_access_token:
        required: false
      twitter_access_token_secret:
        required: false
      mastodon_client_id:
        required: false
      mastodon_client_secret:
        required: false
      mastodon_access_token:
        required: false
      discord_webhook_id:
        required: false
      discord_webhook_token:
        required: false
      macos_sign_p12:
        required: false
      macos_sign_password:
        required: false
      macos_notary_key:
        required: false
      macos_notary_key_id:
        required: false
      macos_notary_issuer_id:
        required: false
      npm_token:
        required: false

jobs:
  release:
    runs-on:
      # Use our own large runners with more CPU and RAM for faster builds
      group: releasers
    permissions:
      contents: write
      id-token: write
      packages: write
    env:
      DOCKER_CLI_EXPERIMENTAL: enabled
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          lfs: ${{ inputs.lfs }}
      - run: |
          git config --global url."https://${{ secrets.gh_pat }}@github.com/charmbracelet".insteadOf "https://github.com/charmbracelet"
          git config --global url."https://${{ secrets.gh_pat }}@github.com/charmcli".insteadOf "https://github.com/charmcli"
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ inputs.go_version }}
          cache: true
          check-latest: true
      - uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: "v2.6.1"
      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.gh_pat }}
      - uses: anchore/sbom-action/download-syft@v0.20.10
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        name: ghcr.io login
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/login-action@v3
        name: docker.io login
        with:
          username: ${{ secrets.docker_username }}
          password: ${{ secrets.docker_token }}
      - run: |
          echo "$NFPM_GPG_KEY" > ${{ runner.temp }}/gpg.key
        env:
          NFPM_GPG_KEY: ${{ secrets.nfpm_gpg_key }}
      - name: npm-login
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          npm config set '//registry.npmjs.org/:_authToken'=${{ secrets.npm_token }}
      - uses: samuelmeuli/action-snapcraft@v3
      - uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          distribution: goreleaser-pro
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_TAP_GITHUB_TOKEN: ${{ secrets.gh_pat }}
          GORELEASER_KEY: ${{ secrets.goreleaser_key }}
          AUR_KEY: ${{ secrets.aur_key }}
          FURY_TOKEN: ${{ secrets.fury_token }}
          GPG_KEY_PATH: ${{ runner.temp }}/gpg.key
          NFPM_DEFAULT_PASSPHRASE: ${{ secrets.nfpm_passphrase }}
          TWITTER_CONSUMER_KEY: ${{ secrets.twitter_consumer_key }}
          TWITTER_CONSUMER_SECRET: ${{ secrets.twitter_consumer_secret }}
          TWITTER_ACCESS_TOKEN: ${{ secrets.twitter_access_token }}
          TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.twitter_access_token_secret }}
          MASTODON_CLIENT_ID: ${{ secrets.mastodon_client_id }}
          MASTODON_CLIENT_SECRET: ${{ secrets.mastodon_client_secret }}
          MASTODON_ACCESS_TOKEN: ${{ secrets.mastodon_access_token }}
          DISCORD_WEBHOOK_ID: ${{ secrets.discord_webhook_id }}
          DISCORD_WEBHOOK_TOKEN: ${{ secrets.discord_webhook_token }}
          MACOS_SIGN_P12: ${{ secrets.macos_sign_p12 }}
          MACOS_SIGN_PASSWORD: ${{ secrets.macos_sign_password }}
          MACOS_SIGN_ENTITLEMENTS: ${{ inputs.macos_sign_entitlements }}
          MACOS_NOTARY_ISSUER_ID: ${{ secrets.macos_notary_issuer_id }}
          MACOS_NOTARY_KEY_ID: ${{ secrets.macos_notary_key_id }}
          MACOS_NOTARY_KEY: ${{ secrets.macos_notary_key }}
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.snapcraft_token }}
          POSTHOG_KEY: ${{ secrets.posthog_key }}

      - uses: actions/upload-artifact@v5
        if: ${{ inputs.upload_artifact == true && always() }}
        with:
          retention-days: 30
          name: dist
          path: |
            dist

# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
