name: lint-sync
on:
  workflow_call:

permissions:
  contents: write
  pull-requests: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          path: ${{ github.repository }}
      - uses: actions/checkout@v6
        with:
          repository: charmbracelet/meta
          path: charmbracelet/meta
      - run: |
          cp charmbracelet/meta/golangci.yml ${{ github.repository }}/.golangci.yml
          rm -rf ${{ github.repository }}/.golangci-soft.yml
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "ci: sync golangci-lint config"
          title: "ci: sync golangci-lint config"
          body: |
            This is an automated pull request to sync the golangci-lint config with the meta repository.
          branch: "ci/sync-lint-config"
          delete-branch: true
          path: "${{ github.repository }}"
      - name: Check outputs
        if: ${{ steps.cpr.outputs.pull-request-number }}
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
